html, body{
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  }


h1{
  color: #ef4e54;
}

h1, h2, h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.HeadImg{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: #ef4e54;
  color: #FFF;
  justify-content: center;
  padding: 1em 1.7em;
  text-align: center;
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: none;
}

span{
  font-weight: bold;
}
.movie{
  display: flex;
}
.movie *{
  position: relative;
}
img{
  width: auto;
  height: 100%;
  padding:0.5em;
}

.block{
  background-color: #FFF;
  width:50%;
  margin:1em;
  padding:1em;
  font-family: sans-serif;
  color: #888;
  box-shadow: 0.1em 0.1em 0.1em #AAA;
}

.link{
  display: flex;
  justify-content: center;
  text-align: center;
}

.link *{
  margin: 0 1em;
}
