html, body{
  background-color: #CCC;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", Montserrat, sans-serif;
}

h1{
  color: #CC1111;
}

h1, h2, h3{
  text-align: center;
}

.HeadImg{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: #CC1111;
  color: #FFF;
  justify-content: center;
  padding: 1em 1.7em;
  text-align: center;
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span{
  font-weight: bold;
}
.movie{
  display: flex;
}
.movie *{
  position: relative;
}
.movie img{
  height: 100%;

}

.block{
  background-color: #FFF;
  width:40%;
  margin:1em;
  padding:1em;
  font-family: sans-serif;
  color: #AAA;
  box-shadow: 0.1em 0.1em 0.1em#AAA;
}

.link{
  display: flex;
  justify-content: center;
  text-align: center;
}
.link *{
  margin: 0px 1em;
}
